$blue: #4073FF;
$dark: #35373B;
$grey_1: #72757D;
$grey_2: #828282;

$transition: opacity .3s ease-in-out, transform .3s ease-in-out;

$desktop: 1920px;
$laptop: 1024px;
$tablet: 728px;
$mobile: 425px;
$mobile-small: 320px;